
        /* Estilos generales */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: url('https://i.redd.it/c3uhsgo1vx541.jpg') no-repeat center center fixed;
            background-size: cover;
        }

        .container {
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
            max-width: 400px;
            width: 100%;
            color: white; /* Cambia el color del texto a blanco para que sea legible */
        }

        h1 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        input {
            padding: 12px;
            width: 100%;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            outline: none;
            transition: border-color 0.3s ease;
        }

        input:focus {
            border-color: #ff7b58;
        }

        button {
            padding: 12px 20px;
            background-color: #ff7b58;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #ff7b58;
        }

        a {
            color: #ff7b58;
            text-decoration: none;
            font-size: 14px;
            margin-top: 10px;
            display: inline-block;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Diseño responsivo */
        @media (max-width: 480px) {
            .container {
                padding: 20px;
            }

            h1 {
                font-size: 28px;
            }

            input, button {
                font-size: 14px;
            }
        }